*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --basic: #fff;
  --accent: #1F7CEA;
  --accent-text: #0094ff;
  --danger: #E93636;
  --secondary: #4C535A;
  --dump: #8FFF00;
  --claim: #4A33DA;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Passion One', 'Arial', sans-serif;

  color: var(--basic);
  background-color: #111619;
}

body {
  margin: 0;
  padding: 0;
}



